.gif {
  border: 1px solid blue;
  display: flex;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 15%;
  min-width: 15rem;

  &__title {
    width: 100%;
    word-wrap: break-word;
    text-align: center;
  }
}
