.gif {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.25rem;
  border: 1px solid #675f5f;
  border-radius: 0.4rem;

  .title {
    position: absolute;
    bottom: 0%;
    left: 12%;
    z-index: 2;
    width: 85%;
    margin-bottom: 0.5rem;
    text-align: left;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
    transform: translate(-8%);
  }

  .gif-review {
    position: relative;
    width: inherit;
    height: 16rem;
    border-radius: inherit;

    .load-spinner {
      position: absolute;
      top: 44%;
      left: 47%;
      color: white;
      z-index: -1;
    }

    img {
      border-radius: inherit;
    }
  }
}
