body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Media queries for different screen sizes */
@media screen and (min-width: 1280px) {
  #root {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
  /* Styles for screens with minimum width of 1280px */
}

@media screen and (min-width: 1920px) {
  /* Styles for screens with minimum width of 1920px */
  #root {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 1.25rem;
  }
}
